body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden; /* Gorizontal skrollni oldini olish */
}

.loaders{
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    background: #f8f9fa;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.nav-menu {
    list-style: none;
    display: flex;
}
.nav-menu li {
    margin-left: 20px;
}
.nav-menu a {
    text-decoration: none;
    font-weight: 500;
    color: black;
    transition: color 0.3s;
}
.nav-menu a:hover {
    color: #f39c12;
}
.menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 1.5rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 100px 10%; */
    padding: 20px 300px;
    height: 800px;
    background: #f4f4f4;
}
.header img {
    /* width: 40%;
    max-width: 400px; */
    width: 700px;
    height: 100%;
    object-fit: cover;
}
.header-text {
    width: 50%;
}
.header-text h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}
.header-text p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.header-text button {
    padding: 10px 20px;
    font-size: 1.2rem;
    background: #f39c12;
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}
.header-text button:hover {
    background: #d68910;
}

.rasmlar{
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    .nav-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background: white;
        width: 200px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    .nav-menu.show {
        display: flex;
    }
    .nav-menu li {
        margin: 10px 0;
        text-align: center;
    }
    .menu-toggle {
        display: block;
    }

    .header {
        flex-direction: column;
        text-align: center;
        height: auto;
        padding: 30px 5%;
    }
    .header img {
        width: 700px;
    }
    .header-text {
        width: 100%;
    }
}


.savat{
    min-height: 300px;
    background-color: aqua;
}

.footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}
.footer a {
    color: #f39c12;
    text-decoration: none;
    margin: 0 10px;
}
.footer a:hover {
    text-decoration: underline;
}